.page {
  display:flex;
  justify-content: center;
}

.buttons {
  width: 500px;
  margin-bottom: 5px;
}

.buttons buttons {
  margin-right: 5px;
}

.terminal-container {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  overflow: hidden;
}

.terminal-container xterm {
  width: 100%;
  height: 100%;
}